<a href="https://colab.research.google.com/github/gwnwytt/GwenWyattDTSC3020Fall2025/blob/main/assignment4_gw0183.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [3]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

max = 0
# Write your code here:

for key, value in grades.items():
  if value > max:
    max = value
    max_name = key

print(f"The max grade is {max} by {max_name}")

The max grade is 20 by Lina

Exercise 2: print names of students who registered for any course containing "Data"

In [30]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
for key, value in courses.items():
  for course_name in value:
      if 'Data' in course_name:
        print(key)
        break

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [32]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:
for key, value in library.items():
  if not(value['available']):
    print(key)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [39]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
for key, value in registrations.items():
  if len(value) > 2:
    print(key)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [44]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}
sum = 0
# Write your code here:
for key, value in grades.items():
  sum += value

average = sum / len(grades.keys())
print(f"The grade average for the class is {average}.")

The grade average for the class is 18.1.

Exercise 6: Count and print the number of students registered for "Python".

In [47]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
count = 0
for key, value in courses.items():
  if 'Python' in value:
    count += 1

print(f"There are {count} students enrolled in Python")

There are 3 students enrolled in Python

Exercise 7: Print titles of books with more than 200 pages.

In [48]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for key, value in book_pages.items():
  if value > 200:
    print(key)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [49]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for key, value in courses.items():
  print(f"{key} is registered for {len(value)} classes")

Ali is registered for 2 classes
Sara is registered for 2 classes
Reza is registered for 2 classes
Lina is registered for 2 classes
Omid is registered for 1 classes