<a href="https://colab.research.google.com/github/gwnwytt/GwenWyattDTSC3020Fall2025/blob/main/assignment2_gw0183.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# 1) Create a list with 3 fruits (for example: apple, banana, orange)
fruits = ["strawberry", "grape", "apple"]

#print whole list
print(fruits)

#print each string in list
for x in fruits:
  print(x)
#or
print(fruits[0])
print(fruits[1])
print(fruits[2])

['strawberry', 'grape', 'apple']
strawberry
grape
apple
strawberry
grape
apple

In [5]:
# 2) Create a list with 4 names
nameList = ["Gwen", "Nilson", "Ezzy", "Alicia"]
print(nameList)

#Change the first name to a different one
nameList[0] = "Clare"
print(nameList)

['Gwen', 'Nilson', 'Ezzy', 'Alicia']
['Clare', 'Nilson', 'Ezzy', 'Alicia']

In [6]:
# 3) Create a list with 5 vehicles (for example: car, bus, bike)
vehicleList = ["plane", "train", "car", "bus", "truck"]
print(vehicleList)

#Add one more vehicle to the end of the list
vehicleList.append("bike")
print(vehicleList)

['plane', 'train', 'car', 'bus', 'truck']
['plane', 'train', 'car', 'bus', 'truck', 'bike']

In [7]:
# 4) Create a list with 6 foods
foodList = ["strawberry", "egg", "spinach", "yogurt", "milk", "coffee"]
print(foodList)

#Remove one food from the list
foodList.remove("milk")
print(foodList)

['strawberry', 'egg', 'spinach', 'yogurt', 'milk', 'coffee']
['strawberry', 'egg', 'spinach', 'yogurt', 'coffee']

In [9]:
# 5) Create a list with 4 cities
cityList = ["Dallas", "Philadelphia", "New Orleans", "Denver"]
print(cityList)

#Sort the list in alphabetical order
cityList.sort()
print(cityList)

#Reverse the list
cityList.sort(reverse = True)
print(cityList)

['Dallas', 'Philadelphia', 'New Orleans', 'Denver']
['Dallas', 'Denver', 'New Orleans', 'Philadelphia']
['Philadelphia', 'New Orleans', 'Denver', 'Dallas']

In [10]:
# 6) Create a list with 3 animals
animalList = ["Snow Leopard", "Tortoise", "Orca"]
print(animalList)

#Use a for loop to print each animal
for x in animalList:
  print(x)

['Snow Leopard', 'Tortoise', 'Orca']
Snow Leopard
Tortoise
Orca

In [12]:
# 7) Create a list with numbers from 1 to 5
numList = [1, 2, 3, 4, 5]
print(numList)

#Use a for loop to print each number multiplied by 2
for x in numList:
  print(x*2)

[1, 2, 3, 4, 5]
2
4
6
8
10

In [14]:
# 8) Create a list with 6 friends
friendList = ["Nilson", "Ezzy", "Clare", "Ali", "Emily", "Sarah"]
print(friendList)

#Print the first three friends
print(friendList[0:3])

#Print the last three friends
print(friendList[3:6])

['Nilson', 'Ezzy', 'Clare', 'Ali', 'Emily', 'Sarah']
['Nilson', 'Ezzy', 'Clare']
['Ali', 'Emily', 'Sarah']

In [23]:
# 9) Use range() to create a list with numbers from 1 to 10
numList2 = [x for x in range(11)]
print(numList2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# 10) Use list comprehension to create a list with the squares of numbers from 1 to 5
numList3 = [x for x in range(0,6)]
print(numList3)
newList = []
for x in numList3:
  newList.append(numList3[x]*x)
print(newList)

[0, 1, 2, 3, 4, 5]
[0, 1, 4, 9, 16, 25]